body,
input,
textarea {
/*  color: #1e1e1e; */
  font-size: 18px;
  font-family: "Karla", "lucida grande", sans-serif;
}

a {
  color: #66bebf;
  text-decoration: none;
}

a:hover {
  color: #59ffeb;
}

pre {
  background-color: #2b2b2b; 
  font: 13px "Andale Mono", "DejaVu Sans Mono", monospace;
}
