body,
input,
textarea {
/*  color: #1e1e1e; */
  font-size: 18px;
  font-family: "Karla", "lucida grande", sans-serif;
}

a {
  color: #00bfa8;
  text-decoration: none;
}

a:hover {
  color: #59ffeb;
}
